<div id="frontend-javascript" class="import-content">

  <details class="easy" question="1">
    <summary>
      What are the differences between <span class='bold'>null</span> and <span class='bold'>undefined</span>?
    </summary>
    <div class="answer">
      <span class='bold'>undefined</span> means value of the variable is not defined. JavaScript has a global variable <span class='bold'>undefined</span> whose value is "undefined" and <span class='bold'>typeof undefined</span> is also "undefined". Remember, <span class='bold'>undefined</span> is not a constant or a keyword. <span class='bold'>undefined</span> is a type with exactly one value: <span class='bold'>undefined</span>. Assigning a new value to it does not change the value of the type <span class='bold'>undefined</span>.<br />
      <br />
      <span class='bold'>null</span> means empty or non-existent value which is used by programmers to indicate "no value". <span class='bold'>null</span> is a primitive value and you can assign <span class='bold'>null</span> to any variable. <span class='bold'>null</span> is not an object, it is a primitive value. For example, you cannot add properties to it. Sometimes people wrongly assume that it is an object, because <span class='bold'>typeof null</span> returns "object".
    </div>
  </details>

  <details class="easy" question="2">
    <summary>
      What are the differences between == and ===?
    </summary>
    <div class="answer">
      Simply, <span class="bold">==</span> will not check types and <span class="bold">===</span> will check whether both sides are of same type.<br />
      <br />
      So, <span class="bold">==</span> is tolerant. But under the hood it converts to its convenient type to have both in same type and then do the comparison.<br />
      <br />
      <span class="bold">===</span> compares the types and values. Hence, if both sides are not same type, answer is always false. For example, if you are comparing two strings, they must have identical character sets. For other primitives (number, boolean) must share the same value.
    </div>
  </details>

  <details class="easy" question="3">
    <summary>
      Explain "hoisting"
    </summary>
    <div class="answer">
      Hoisting is a term used to explain the behavior of variable declarations in your code. Variables declared or initialized with the var keyword will have their declaration "moved" up to the top of the current scope, which we refer to as hoisting. However, only the declaration is hoisted, the assignment (if there is one), will stay where it is.<br />
      <br />
      Note that the declaration is not actually moved - the JavaScript engine parses the declarations during compilation and becomes aware of declarations and their scopes. It is just easier to understand this behavior by visualizing the declarations as being hoisted to the top of their scope.        
    </div>
  </details>

  <details class="easy" question="4">
    <summary>
      What are JavaScript Data Types?
    </summary>
    <div class="answer">
      The following are the JavaScript Data types:<br />
      <ul>
        <li>Number</li>
        <li>String</li>
        <li>Boolean</li>
        <li>Object</li>
        <li>Undefined</li>
      </ul>
    </div>
  </details>

  <details class="easy" question="5">
    <summary>
      What are the break and continue statements?
    </summary>
    <div class="answer">
      Break statement exits from the current loop. Continue statement continues with the next iteration of the loop.
    </div>
  </details>
  
  <details class="easy" question="6">
    <summary>
      What is a Callback Function?
    </summary>
    <div class="answer">
      A callback function is a function passed into another function as an argument, which is then invoked inside the outer function to complete some kind of routine or action.
    </div>
  </details>
  
  <details class="easy" question="7">
    <summary>
      What is an Anonymous Function?
    </summary>
    <div class="answer">
      Anonymous functions are functions without a name. They are stored in a variable and are automatically invoked (called) using the variable name.
    </div>
  </details>
  
  <details class="easy" question="8">
    <summary>
      Explain JSON Stringify and Parse?
    </summary>
    <div class="answer">
      Stringify is used to transform JSON into a string.  Parse is used to transform a string into JSON.
    </div>
  </details>
  
  <details class="average" question="9">
    <summary>
      What is 'use strict'? What are the advantages and disadvantages to using it?
    </summary>
    <div class="answer">
        'use strict' is a statement used to enable strict mode to entire scripts or individual functions. Strict mode is a way to opt into a restricted variant of JavaScript.<br />
        <br />
        <span class="bold">Advantages</span>
        <ol>
          <li>Makes it impossible to accidentally create global variables.</li>
          <li>Makes assignments which would otherwise silently fail to throw an exception.</li>
          <li>Makes attempts to delete undeletable properties throw (where before the attempt would simply have no effect).</li>
          <li>Requires that function parameter names be unique.</li>
          <li>this is undefined in the global context.</li>
          <li>It catches some common coding bloopers, throwing exceptions.</li>
          <li>It disables features that are confusing or poorly thought out.</li>
        </ol>
        <span class="bold">Disadvantages</span>
        <ul>
          <li>Many missing features that some developers might be used to.</li>
          <li>No more access to function.caller and function.arguments.</li>
          <li>Concatenation of scripts written in different strict modes might cause issues.</li>
        </ul>
        Overall, the benefits outweigh the disadvantages, and the features that strict mode blocks are rarely used.
    </div>
  </details>
  
  <details class="average" question="10">
    <summary>
      What is "this" in JavaScript?
    </summary>
    <div class="answer">
      At the time of execution of every function, JavaScript engine sets a property to the function called this which refer to the current execution context. this is always refer to an object and depends on how function is called. There are 7 different cases where the value of this varies.<br />
      <ol>
        <li>In the global context or inside a function this refers to the window object.</li>
        <li>Inside IIFE (immediate invoking function) if you use "use strict", value of this is undefined. To pass access window inside IIFE with "use strict", you have to pass this.</li>
        <li>While executing a function in the context of an object, the object becomes the value of this.</li>
        <li>Inside a setTimeout function, the value of this is the window object.</li>
        <li>If you use a constructor (by using new keyword) to create an object, the value of this will refer to the newly created object.</li>
        <li>You can set the value of this to any arbitrary object by passing the object as the first parameter of bind, call or apply</li>
        <li>For DOM event handler, value of this would be the element that fired the event.</li>
      </ol>
    </div>
  </details>

  <details class="average" question="11">
    <summary>
      Does JavaScript pass parameter by value or by reference?
    </summary>
    <div class="answer">
      Primitive type (string, number, etc.) are passed by value and objects are passed by reference. If you change a property of the passed object, the change will be affected. However, you assign a new object to the passed object, the changes will not be reflected.
    </div>
  </details>

  <details class="average" question="12">
    <summary>
      Is there any difference between window and document?
    </summary>
    <div class="answer">
      Yes. JavaScript has a global object and everything runs under it.<br />
      <br />
      <span class="bold">window</span> is that global object that holds global variables, global functions, location, history everything is under it. Also: setTimeout, ajax call (XMLHttpRequest), console or localStorage are part of window.<br />
      <br />
      <span class="bold">document</span> is also under window. <span class="bold">document</span> is a property of the window object. document represents the DOM and DOM is the object oriented representation of the html markup you have written. All the nodes are part of document. Hence you can use getElementById or addEventListener on document. These methods are not present in the window object.
    </div>
  </details>  

  <details class="average" question="13">
    <summary>
      What is asynchronous programming and why is it important in JavaScript?
    </summary>
    <div class="answer">
      Synchronous programming means that, barring conditionals and function calls, code is executed sequentially from top-to-bottom, blocking on long-running tasks such as network requests and disk I/O.<br />
      <br />
      Asynchronous programming means that the engine runs in an event loop. When a blocking operation is needed, the request is started, and the code keeps running without blocking for the result. When the response is ready, an interrupt is fired, which causes an event handler to be run, where the control flow continues. In this way, a single program thread can handle many concurrent operations.<br />
      <br />
      User interfaces are asynchronous by nature, and spend most of their time waiting for user input to interrupt the event loop and trigger event handlers.<br />
      <br />
      Node is asynchronous by default, meaning that the server works in much the same way, waiting in a loop for a network request, and accepting more incoming requests while the first one is being handled.<br />
      <br />
      This is important in JavaScript, because it is a very natural fit for user interface code, and very beneficial to performance on the server.
    </div>
  </details>

  <details class="average" question="14">
    <summary>
      Explain Ajax in as much detail as possible.
    </summary>
    <div class="answer">
      Ajax (asynchronous JavaScript and XML) is a set of web development techniques using many web technologies on the client side to create asynchronous web applications. With Ajax, web applications can send data to and retrieve from a server asynchronously (in the background) without interfering with the display and behavior of the existing page. By decoupling the data interchange layer from the presentation layer, Ajax allows for web pages, and by extension web applications, to change content dynamically without the need to reload the entire page. In practice, modern implementations commonly substitute use JSON instead of XML, due to the advantages of JSON being native to JavaScript.
    </div>
  </details>

  <details class="average" question="15">
    <summary>
      What are the advantages and disadvantages of using Ajax?
    </summary>
    <div class="answer">
      <span class="bold">Advantages</span>
      <ul>
        <li>Better interactivity. New content from the server can be changed dynamically without the need to reload the entire page.</li>
        <li>Reduce connections to the server since scripts and stylesheets only have to be requested once.</li>
        <li>State can be maintained on a page. JavaScript variables and DOM state will persist because the main container page was not reloaded.</li>
        <li>Basically most of the advantages of an SPA.</li>
      </ul>
      <span class="bold">Disadvantages</span>
      <ul>
        <li>Dynamic webpages are harder to bookmark.</li>
        <li>Does not work if JavaScript has been disabled in the browser.</li>
        <li>Some webcrawlers do not execute JavaScript and would not see content that has been loaded by JavaScript.</li>
        <li>Basically most of the disadvantages of an SPA.</li>
      </ul>
    </div>
  </details>

  <details class="average" question="16">
    <summary>
      Can you offer a use case for the new arrow => function syntax? How does this new syntax differ from other functions?
    </summary>
    <div class="answer">
      One obvious benefit of arrow functions is to simplify the syntax needed to create functions, without a need for the function keyword. The 'this' within arrow functions is also bound to the enclosing scope which is different compared to regular functions where the 'this' is determined by the object calling it.
    </div>
  </details>

  <details class="average" question="17">
    <summary>
      What are IIFEs?
    </summary>
    <div class="answer">
      It’s an Immediately-Invoked Function Expression, or IIFE for short. It executes immediately after it’s created.<br />
      <br />
      This pattern is often used when trying to avoid polluting the global namespace, because all the variables used inside the IIFE (like in any other normal function) are not visible outside its scope.        
    </div>
  </details>
  
  <details class="average" question="18">
    <summary>
      Describe closure in your own words
    </summary>
    <div class="answer">
      A closure is a feature in JavaScript where an inner function has access to the outer (enclosing) function's variables (a scope chain). It has access to its own scope, variables defined between its curly brackets. it has access to the outer function's variables. it has access to the global variables.
    </div>
  </details>

  <details class="average" question="19">
    <summary>
      What is CORS and how does it work?
    </summary>
    <div class="answer">
      Cross-origin resource sharing (CORS) is a mechanism that allows many resources on a web page to be requested from another domain outside the domain from which the resource originated. It's a mechanism supported in HTML5 that manages XMLHttpRequest access to a different domain.<br />
      <br />
      CORS adds new HTTP headers that provide access to permitted origin domains. For HTTP methods other than GET (or POST with certain MIME types), the specification mandates that browsers first use an HTTP OPTIONS request header to solicit a list of supported (and available) methods from the server. The actual request can then be submitted. Servers can also notify clients whether "credentials" (including Cookies and HTTP Authentication data) should be sent with requests.
    </div>
  </details>

</div>
