<div id="frontend-css" class="import-content">

  <details class="easy" question="1">
    <summary>
      What are the advantages/disadvantages of using CSS preprocessors?
    </summary>
    <div class="answer">
      Advantages:<br />
      <ul>
        <li>CSS is made more maintainable.</li>
        <li>Easy to write nested selectors.</li>
        <li>Variables for consistent theming. Can share theme files across different projects.</li>
        <li>Mixins to generate repeated CSS.</li>
        <li>Splitting your code into multiple files. CSS files can be split up too but doing so will require an HTTP request to download each CSS file.</li>
      </ul>
      Disadvantages:<br />
      <ul>
        <li>Requires tools for preprocessing. Re-compilation time can be slow.</li>
      </ul>        
    </div>
  </details>
    
  <details class="easy" question="2">
    <summary>
      What does float do?
    </summary>
    <div class="answer">
      Float pushes an element to the sides of a page with text wrapped around it. you can create entire page or a smaller area by using float. if size of a floated element changes, text around it will re-flow to accommodate the changes. You can have float left, right, none or inherit.
    </div>
  </details>

  <details class="easy" question="3">
    <summary>
      What are the properties related to box model?
    </summary>
    <div class="answer">
      Technically, height, width, padding and border are part of box model and margin is related to it.<br />
      <br />
      <span class='bold'>Extra</span>: Everything in a web page is a box where you can control size, position, background, etc. Each box/ content area is optionally surrounded by padding, border and margin. When you set height and width of an element, you set content height and width.
    </div>
  </details>

  <details class="easy" question="4">
    <summary>
      What are the reasons to use preprocessor?
    </summary>
    <div class="answer">
      CSS is written at a high level with some special syntax (declaring variable, nested syntax, mathematical operations, etc.) and that is compiled to css. Preprocessors help speed up develop, maintain, ensure best practices and also confirms concatenation, compression, etc.
    </div>
  </details>

  <details class="easy" question="5">
    <summary>
      What is specificity? How do you calculate specificity?
    </summary>
    <div class="answer">
      Specificity is a process of determining which css rule will be applied to an element. It actually determines which rules will take precedence.<br />
      <ol>
        <li>Inline style,</li>
        <li>ID,</li>
        <li>Class value (or pseudo-class or attribute selector),</li>
        <li>Universal Selector (*) has no specificity.</li>
      </ol>
    </div>
  </details>

  <details class="easy" question="6">
    <summary>
      What does * { box-sizing: border-box; } do? What are its advantages?
    </summary>
    <div class="answer">
      By default, elements have box-sizing: content-box applied, and only the content size is being accounted for.<br />
      <br />
      box-sizing: border-box changes how the width and height of elements are being calculated, border and padding are also being included in the calculation.<br />
      <br />
      Taking into account paddings and borders as part of our box model resonates better with how designers actually imagine content in grids.<br />
    </div>
  </details>

  <details class="easy" question="7">
    <summary>
      What is the CSS display property and can you give a few examples of its use?
    </summary>
    <div class="answer">
      none, block, inline, inline-block, table, table-row, table-cell, list-item.
    </div>
  </details>

  <details class="easy" question="8">
    <summary>
      What's the difference between a relative, fixed, absolute and statically positioned element?
    </summary>
    <div class="answer">
      A positioned element is an element whose computed position property is either relative, absolute, fixed or sticky.<br />
      <ul>
        <li><span class="bold">static</span> - The default position; the element will flow into the page as it normally would. The top, right, bottom, left and z-index properties do not apply.</li>
        <li><span class="bold">relative</span> - The element's position is adjusted relative to itself, without changing layout (and thus leaving a gap for the element where it would have been had it not been positioned).</li>
        <li><span class="bold">absolute</span> - The element is removed from the flow of the page and positioned at a specified position relative to its closest positioned ancestor if any, or otherwise relative to the initial containing block. Absolutely positioned boxes can have margins, and they do not collapse with any other margins. These elements do not affect the position of other elements.</li>
        <li><span class="bold">fixed</span> - The element is removed from the flow of the page and positioned at a specified position relative to the viewport and doesn't move when scrolled.</li>
        <li><span class="bold">sticky</span> - Sticky positioning is a hybrid of relative and fixed positioning. The element is treated as relative positioned until it crosses a specified threshold, at which point it is treated as fixed positioned.        </li>
      </ul>
    </div>
  </details>
  
  <details class="easy" question="9">
    <summary>
      What are style sheets?
    </summary>
    <div class="answer">
      Style sheets enable consistent, transportable, and well-defined style templates. These templates can be linked to several different web pages, making it easy to maintain and change the look and feel of all the web pages within site.
    </div>
  </details>
  
  <details class="average" question="10">
    <summary>
      How can you fix, 'floated points don't add up to the height of a parent'?
    </summary>
    <div class="answer">
      You can use <span class='bold'>clear: both</span> in an empty div &lt;div style="clear: both;"&gt;&lt;/div&gt;, you can use overflow hidden or scroll and you can float the parent as well.
    </div>
  </details>

  <details class="average" question="11">
    <summary>
      Which one would you prefer among px, em % or pt and why?
    </summary>
    <div class="answer">
      It depends on what you are trying to do.<br />
      <ul>
        <li><span class='bold'>px</span> gives fine grained control and maintains alignment because 1 px or multiple of 1 px is guaranteed to look sharp. px is not cascade, this means if parent font-size is 20px and child 16px. child would be 16px.</li>
        <li><span class='bold'>em</span> maintains relative size. you can have responsive fonts. em is the width of the letter 'm' in the selected typeface. However, this concept is tricky. 1em is equal to the current font-size of the element or the browser default. if u sent font-size to 16px then 1em = 16px. The common practice is to set default body font-size to 62.5% (equal to 10px). em is cascade.</li>
        <li><span class='bold'>%</span> sets font-size relative to the font size of the body. Hence, you have to set font-size of the body to a reasonable size. this is easy to use and does cascade. for example, if parent font-size is 20px and child font-size is 50%. child would be 10px.</li>
        <li><span class='bold'>pt</span>(points) are traditionally used in print. 1pt = 1/72 inch and it is fixed-size unit.</li>
      </ul>
    </div>
  </details>

  <details class="average" question="12">
    <summary>
      How do absolute, relative, fixed and static position differ?
    </summary>
    <div class="answer">
      <ul>
        <li><span class='bold'>absolute</span> place an element exactly where you want to place it. absolute position is actually set relative to the element's parent. if no parent available then relatively place to the page itself.</li>
        <li><span class='bold'>relative</span> is position an element relative to itself (from where the element would be placed, if u don't apply relative positioning). for example, if u set position relative to an element and set top: 10px, it will move 10px down from where it would be normally.</li>
        <li><span class='bold'>fixed</span> element is positioned relative to viewport or the browser window itself. viewport doesn't changed if u scroll and hence fixed element will stay right in the same position.</li>
        <li><span class='bold'>static</span> element will be positioned based on the normal flow of the document. usually, u will use position static to remove other position might be applied to an element.</li>
      </ul>
    </div>
  </details>

  <details class="average" question="13">
    <summary>
      What are the differences between visibility hidden and display none?
    </summary>
    <div class="answer">
      <span class='bold'>display: none</span> removes the element from the normal layout flow and allow other elements to fill in. <span class='bold'>visibility: hidden</span> tag is rendered, it takes space in the normal flow but doesn't show it.<br />
      <br />
      If you want to say it smartly, <span class='bold'>display: none</span> causes DOM reflow, where <span class='bold'>visibility: hidden</span> does not.
    </div>
  </details>
  
  <details class="average" question="14">
    <summary>
      What's the difference between "resetting" and "normalizing" CSS? Which would you choose, and why?
    </summary>
    <div class="answer">
      <ul>
        <li><span class='bold'>Resetting</span> - Resetting is meant to strip all default browser styling on elements. For e.g. margins, paddings, font-sizes of all elements are reset to be the same. You will have to redeclare styling for common typographic elements.</li>
        <li><span class='bold'>Normalizing</span> - Normalizing preserves useful default styles rather than "unstyling" everything. It also corrects bugs for common browser dependencies.</li>
      </ul>
      I would choose resetting when I have a very customized or unconventional site design such that I need to do a lot of my own styling and do not need any default styling to be preserved.
    </div>
  </details>
  
  <details class="average" question="15">
    <summary>
      Describe z-index and how stacking context is formed.
    </summary>
    <div class="answer">
      The z-index property in CSS controls the vertical stacking order of elements that overlap. z-index only affects elements that have a position value which is not static.<br />
      <br />
      Without any z-index value, elements stack in the order that they appear in the DOM (the lowest one down at the same hierarchy level appears on top). Elements with non-static positioning (and their children) will always appear on top of elements with default static positioning, regardless of HTML hierarchy.<br />
      <br />
      A stacking context is an element that contains a set of layers. Within a local stacking context, the z-index values of its children are set relative to that element rather than to the document root. Layers outside of that context — i.e. sibling elements of a local stacking context — can't sit between layers within it.<br />
      <br />
      Each stacking context is self-contained - after the element's contents are stacked, the whole element is considered in the stacking order of the parent stacking context.<br />
    </div>
  </details>

  <details class="average" question="16">
    <summary>
      What are some of the "gotchas" for writing efficient CSS?
    </summary>
    <div class="answer">
      Firstly, understand that browsers match selectors from rightmost (key selector) to left. Browsers filter out elements in the DOM according to the key selector and traverse up its parent elements to determine matches. The shorter the length of the selector chain, the faster the browser can determine if that element matches the selector. Hence avoid key selectors that are tag and universal selectors. They match a large number of elements and browsers will have to do more work in determining if the parents do match.<br />
      <br />
      Be aware of which CSS properties trigger reflow, repaint, and compositing. Avoid writing styles that change the layout (trigger reflow) where possible.
    </div>
  </details>
  
  <details class="average" question="17">
    <summary>
      Assume you arrive at a new company that has 3 competing stylesheets. How cant they be best integrated into a site?
    </summary>
    <div class="answer">
      A stylesheet is a template file consisting of font and layout settings to give a standardised look to a website or web application. To keep a consistent look and feel to a project, there should only be one stylesheet.
    </div>
  </details>

</div>
