<div id="frontend-css" class="import-content">

  <details class="easy" question="1">
    <summary>
      What is scope in AngularJS?
    </summary>
    <div class="answer">
      Scopes are objects that refer to the model. They act as glue between controller and view.
    </div>
  </details>

  <details class="easy" question="2">
    <summary>
      What is data binding in AngularJS?
    </summary>
    <div class="answer">
      Data binding is the automatic synchronization of data between model and view components. ng-model directive is used in data binding.
    </div>
  </details>

  <details class="easy" question="3">
    <summary>
      What are the controllers in AngularJS?
    </summary>
    <div class="answer">
      Controllers are JavaScript functions that are bound to a particular scope. They are the prime actors in AngularJS framework and carry functions to operate on data and decide which view is to be updated to show the updated model based data.
    </div>
  </details>

  <details class="easy" question="4">
    <summary>
      Explain directives in AngularJS
    </summary>
    <div class="answer">
      Directives are markers on DOM elements (such as elements, attributes, css, and more). These can be used to create custom HTML tags that serve as new, custom widgets. AngularJS has built-in directives (ng-bind, ng-model, etc) to perform most of the task that developers have to do.
    </div>
  </details>

  <details class="easy" question="5">
    <summary>
      Explain ng-bind directive
    </summary>
    <div class="answer">
      ng-bind directive binds the AngularJS Application data to HTML tags. ng-bind updates the model created by ng-model directive to be displayed in the html tag whenever user inputs something in the control or updates the html control's data when model data is updated by controller.
    </div>
  </details>

  <details class="easy" question="6">
    <summary>
      Explain ng-controller directive
    </summary>
    <div class="answer">
      ng-controller directive tells AngularJS what controller to use with this view. AngularJS application mainly relies on controllers to control the flow of data in the application. A controller is a JavaScript object containing attributes/properties and functions. Each controller accepts $scope as a parameter which refers to the application/module that controller is to control.
    </div>
  </details>

  <details class="easy" question="7">
    <summary>
      What are AngularJS expressions?
    </summary>
    <div class="answer">
      Expressions are used to bind application data to html. Expressions are written inside double braces like {{ expression }}. Expressions behave in the same way as ng-bind directives. AngularJS application expressions are pure JavaScript expressions and outputs the data where they are used.
    </div>
  </details>

  <details class="easy" question="8">
    <summary>
      What is $rootScope?
    </summary>
    <div class="answer">
      Scope is a special JavaScript object which plays the role of joining controller with the views. Scope contains the model data. In controllers, model data is accessed via $scope object. $rootScope is the parent of all of the scope variables.
    </div>
  </details>

  <details class="average" question="9">
    <summary>
      Which components can be injected as a dependency in AngularJS?
    </summary>
    <div class="answer">
      AngularJS provides a Dependency Injection mechanism. It provides following core components which can be injected into each other as dependencies.<br />
      <ul>
        <li>value</li>
        <li>factory</li>
        <li>service</li>
        <li>provider</li>
        <li>constant</li>
      </ul>
    </div>
  </details>

  <details class="hard" question="10">
    <summary>
      Which are the core directives of AngularJS?
    </summary>
    <div class="answer">
      Following are the three core directives of AngularJS.<br />
      <ul>
        <li><span class="bold">ng-app</span> − This directive defines and links an AngularJS application to HTML.</li>
        <li><span class="bold">ng-model</span> − This directive binds the values of AngularJS application data to HTML input controls.</li>
        <li><span class="bold">ng-bind</span> − This directive binds the AngularJS Application data to HTML tags.</li>
      </ul>
    </div>
  </details>
  
</div>
