<div id="frontend-angularjs" class="import-content">

  <details class="easy" question="1">
    <summary>
      What is scope in AngularJS?
    </summary>
    <div class="answer">
      Scopes are objects that refer to the model. They act as glue between controller and view.
    </div>
  </details>

  <details class="easy" question="2">
    <summary>
      What is data binding in AngularJS?
    </summary>
    <div class="answer">
      Data binding is the automatic synchronization of data between model and view components. ng-model directive is used in data binding.
    </div>
  </details>

  <details class="easy" question="3">
    <summary>
      What are the controllers in AngularJS?
    </summary>
    <div class="answer">
      Controllers are JavaScript functions that are bound to a particular scope. They are the prime actors in AngularJS framework and carry functions to operate on data and decide which view is to be updated to show the updated model based data.
    </div>
  </details>

  <details class="easy" question="4">
    <summary>
      Explain directives in AngularJS
    </summary>
    <div class="answer">
      Directives are markers on DOM elements (such as elements, attributes, css, and more). These can be used to create custom HTML tags that serve as new, custom widgets. AngularJS has built-in directives (ng-bind, ng-model, etc) to perform most of the task that developers have to do.
    </div>
  </details>

  <details class="easy" question="5">
    <summary>
      Explain ng-bind directive
    </summary>
    <div class="answer">
      ng-bind directive binds the AngularJS Application data to HTML tags. ng-bind updates the model created by ng-model directive to be displayed in the html tag whenever user inputs something in the control or updates the html control's data when model data is updated by controller.
    </div>
  </details>

  <details class="easy" question="6">
    <summary>
      Explain ng-controller directive
    </summary>
    <div class="answer">
      ng-controller directive tells AngularJS what controller to use with this view. AngularJS application mainly relies on controllers to control the flow of data in the application. A controller is a JavaScript object containing attributes/properties and functions. Each controller accepts $scope as a parameter which refers to the application/module that controller is to control.
    </div>
  </details>

  <details class="easy" question="7">
    <summary>
      What are AngularJS expressions?
    </summary>
    <div class="answer">
      Expressions are used to bind application data to html. Expressions are written inside double braces like {{ expression }}. Expressions behave in the same way as ng-bind directives. AngularJS application expressions are pure JavaScript expressions and outputs the data where they are used.
    </div>
  </details>

  <details class="easy" question="8">
    <summary>
      What is $rootScope?
    </summary>
    <div class="answer">
      Scope is a special JavaScript object which plays the role of joining controller with the views. Scope contains the model data. In controllers, model data is accessed via $scope object. $rootScope is the parent of all of the scope variables.
    </div>
  </details>

  <details class="easy" question="9">
    <summary>
      What is "track by" and how does it work?
    </summary>
    <div class="answer">
      The track by is used with ng-repeat and describes to AngularJS how it tracks the association between the DOM and the Model. It improves the rendering performance.
    </div>
  </details>

  <details class="average" question="10">
    <summary>
      Which components can be injected as a dependency in AngularJS?
    </summary>
    <div class="answer">
      AngularJS provides a Dependency Injection mechanism. It provides following core components which can be injected into each other as dependencies.<br />
      <ul>
        <li>value</li>
        <li>factory</li>
        <li>service</li>
        <li>provider</li>
        <li>constant</li>
      </ul>
    </div>
  </details>

  <details class="average" question="11">
    <summary>
      What is an injector?
    </summary>
    <div class="answer">
      An injector is a service locator.  It is used to retrieve object instances as defined by provider, instantiate types, invoke methods and load modules.  There is a single injector per Angular application, it helps to look up an object instance by its name.
    </div>
  </details>

  <details class="average" question="12">
    <summary>
      What is the ng-include directive?
    </summary>
    <div class="answer">
      HTML pages can be embedded within an HTML page using the ng-include directive.
    </div>
  </details>

  <details class="average" question="13">
    <summary>
      How is data shared between controllers in AngularJS?
    </summary>
    <div class="answer">
      Services are the easiest, fastest and cleaner way to share data between controllers in AngularJS.<br />
      <br />
      There are also other ways to share data between controllers, they are:<br />
      <ul>
        <li>Using Events</li>
        <li>$parent, nextSibling, controllerAs</li>
        <li>Using the $rootScope</li>
      </ul>
    </div>
  </details>

  <details class="average" question="14">
    <summary>
      Explain the AngularJS digest cycle.
    </summary>
    <div class="answer">
      The AngularJS digest cycle is the process behind AngularJS data binding.  In each digest cycle, Angular compares the old and the new version of the scope model values. The digest cycle is triggered automatically. We can also use $apply() if we want to trigger the digest cycle manually.
    </div>
  </details>

  <details class="average" question="15">
    <summary>
      What should be the maximum number of concurrent “watches”? How would you keep an eye on that number?
    </summary>
    <div class="answer">
      To reduce memory consumption and improve performance, it is a good idea to limit the number of watches on a page to 2,000. A utility called ng-stats can help track the watch count and digest cycles.<br />
      <br />
      To achieve 60 frames-per-second, there is only about 16 milliseconds for code to execute. It is crucial that the scope digest cycles are as short as possible for the application to be responsive and smooth. Memory use and digest cycle performance are directly affected by the number of active watches.          
    </div>
  </details>

  <details class="average" question="16">
    <summary>
      What is the difference between ng-show/ng-hide and ng-if directives?
    </summary>
    <div class="answer">
      ng-show/ng-hide will always insert the DOM element, but will display/hide it based on the condition. ng-if will not insert the DOM element until the condition is not fulfilled.<br />
      <br />
      ng-if is better when we needed the DOM to be loaded conditionally, as it will help load page bit faster compared to ng-show/ng-hide.<br />
      <br />
      Keep in mind what the difference between these directives is when deciding which one to use.        
    </div>
  </details>

  <details class="average" question="17">
    <summary>
      When should you use an attribute versus an element?
    </summary>
    <div class="answer">
      Use an element when you are creating a component that is in control of the template. Use an attribute when you are decorating an existing element with new functionality.
    </div>
  </details>

  <details class="hard" question="18">
    <summary>
      Which are the core directives of AngularJS?
    </summary>
    <div class="answer">
      Following are the three core directives of AngularJS.<br />
      <ul>
        <li><span class="bold">ng-app</span> − This directive defines and links an AngularJS application to HTML.</li>
        <li><span class="bold">ng-model</span> − This directive binds the values of AngularJS application data to HTML input controls.</li>
        <li><span class="bold">ng-bind</span> − This directive binds the AngularJS Application data to HTML tags.</li>
      </ul>
    </div>
  </details>
  
  <details class="hard" question="19">
    <summary>
      What is an interceptor? What are common uses of it?
    </summary>
    <div class="answer">
      An interceptor is a middleware code where all the $http requests go through.<br />
      <br />
      The interceptor is a factory that are registered in $httpProvider. There are 2 types of requests that go through the interceptor, request and response (with requestError and responseError respectively). This piece of code is very useful for error handling, authentication or middleware in all the requests/responses.        
    </div>
  </details>
  
</div>
