<div id="programming-general" class="import-content">

  <details class="easy" question="1">
    <summary>
      What is SPA (Single Page Application)? Contrast SPA technology with traditional web technology?
    </summary>
    <div class="answer">
      In the SPA technology, only a single page, which is index.HTML, is maintained although the URL keeps on changing. Unlike the traditional web technology, SPA technology is faster and easier to develop as well.<br />
      <br />
      In the conventional web technology, as soon as a client requests a webpage, the server sends the resource. However, when again the client requests for another page, the server responds again with sending the requested resource. The problem with this technology is that it requires a lot of time.
    </div>
  </details>

  <details class="easy" question="2">
    <summary>
      What is the process called by which TypeScript code is converted into JavaScript code?
    </summary>
    <div class="answer">
      It is called Transpiling. Even though TypeScript is used for writing code in Angular applications, it gets internally transpiled into equivalent JavaScript.
    </div>
  </details>

  <details class="easy" question="3">
    <summary>
      What is REST?
    </summary>
    <div class="answer">
      REST stands for <span class='bold'>RE</span>presentational <span class='bold'>S</span>tate <span class='bold'>T</span>ransfer. REST is an API (Application Programming Interface) style that works on the HTTP request. In this, the requested URL pinpoints the data that needs to be processed. Further ahead, an HTTP method then identifies the specific operation that needs to be performed on that requested data. Thus, the APIs which follows this approach are known as RESTful APIs.
    </div>
  </details>

  <details class="average" question="4">
    <summary>
      Describe the structure of CSS and JavaScript to make it easier for other developers to work with?
    </summary>
    <div class="answer">
      Front end developers often work on code created by previous employees or operate as part of a team. This question gives you an idea of whether they can create websites or web applications that will be understandable by other employees. What to look for in an answer:<br />
      <ol>
        <li>Experience with code organization and code commenting.</li>
        <li>First-hand knowledge of what happens when code isn't commented appropriately.</li>
        <li>A willingness to make things easier on the other development teams.</li>
      </ol>
    </div>
  </details>
  
  <details class="average" question="5">
    <summary>
      What is functional programming?
    </summary>
    <div class="answer">
      Functional programming produces programs by composing mathematical functions and avoids shared state & mutable data.<br />
      <br />
      Functional programming is an essential concept in JavaScript (one of the two pillars of JavaScript). Several common functional utilities were added to JavaScript in ES5.<br />
      <ul>
        <li>Pure functions / function purity.</li>
        <li>Avoid side-effects.</li>
        <li>Simple function composition.</li>
      </ul>
    </div>
  </details>

  <details class="average" question="6">
    <summary>
      What are two-way data binding and one-way data flow, and how are they different?
    </summary>
    <div class="answer">
      Two way data binding means that UI fields are bound to model data dynamically such that when a UI field changes, the model data changes with it and vice-versa.<br />
      <br />
      One way data flow means that the model is the single source of truth. Changes in the UI trigger messages that signal user intent to the model (or “store” in React). Only the model has the access to change the app’s state. The effect is that data always flows in a single direction, which makes it easier to understand.<br />
      <br />
      One way data flows are deterministic, whereas two-way binding can cause side-effects which are harder to follow and understand.<br />
      <br />
      React is the new canonical example of one-way data flow. AngularJS is a popular framework which uses two-way binding.
    </div>
  </details>

  <details class="average" question="7">
    <summary>
      Explain event delegation
    </summary>
    <div class="answer">
      Event delegation is a technique involving adding event listeners to a parent element instead of adding them to the descendant elements. The listener will fire whenever the event is triggered on the descendant elements due to event bubbling up the DOM. The benefits of this technique are:<br />
      <ul>
        <li>Memory footprint goes down because only one single handler is needed on the parent element, rather than having to attach event handlers on each descendant.</li>
        <li>There is no need to unbind the handler from elements that are removed and to bind the event for new elements.</li>
      </ul>
    </div>
  </details>

  <details class="average" question="8">
    <summary>
      Describe event bubbling
    </summary>
    <div class="answer">
      When an event triggers on a DOM element, it will attempt to handle the event if there is a listener attached, then the event is bubbled up to its parent and the same thing happens. This bubbling occurs up the element's ancestors all the way to the document. Event bubbling is the mechanism behind event delegation.
    </div>
  </details>

  <details class="average" question="9">
    <summary>
      What is lazy loading?
    </summary>
    <div class="answer">
      Lazy loading is a design pattern generally utilized in computer programming to delay initialization of an object until the period at which it is required. It can contribute to performance in the program’s operation if correctly and properly utilized. Besides, it is a loading code only once the user needs it. For instance, there is a button on the page, which reveals a different layout once the user pressed it. Hence, it is not necessary to load code for that layout on initial page load.
    </div>
  </details>

  <details class="average" question="10">
    <summary>
      Describe the workflow to create a web page?
    </summary>
    <div class="answer">
      The workflow of a modern front end developer has changed vastly in the past four or five years. A huge array of tools are available to build organised, scalable web applications, which reduce complex and automate repetitive tasks.
    </div>
  </details>

  <details class="average" question="11">
    <summary>
      Assume you arrive at a new company that has 3 competing stylesheets. How cant they be best integrated into a site?
    </summary>
    <div class="answer">
      A stylesheet is a template file consisting of font and layout settings to give a standardised look to a website or web application. To keep a consistent look and feel to a project, there should only be one stylesheet.
    </div>
  </details>

  <details class="average" question="12">
    <summary>
      What is the difference between Front End Developers and UI/UX Designers? And, where do these positions overlap?
    </summary>
    <div class="answer">
      There is no definitive answer to the question, but it will give a front end developer the chance to evaluate their own experience and also reveal their expectations. To a certain extent the difference between UI/UX and front end development is the difference between design and implementation. UI/UX tends to look more at the human-side of the design process, including undertaking research by asking the questions about how users interact with a website, which would then form the basis for design concepts. A UI/UX designer would also do testing and evaluation post-implementation. Understanding the front end needs of your own company before asking this question gives an insight into the candidate’s potential fit.
    </div>
  </details>
      
</div>