<div id="programming-testing" class="import-content">

  <details class="easy" question="1">
    <summary>
      Why is Testing Necessary?
    </summary>
    <div class="answer">
      Testing is necessary in order to identify any defects that are present in software which can cause harm. Without proper testing, we could potentially release a software which could malfunction and cause serious injuries.
    </div>
  </details>
    
  <details class="easy" question="2">
    <summary>
      How much testing is enough?
    </summary>
    <div class="answer">
      There is no definitive answer to this question. Testing is not absolute and has no limits. However, we can use risk metrics (risk-based testing) to identify the likely scenarios that can cause the most harm or the sections of the software that is mostly used so that we focus our time and effort to the sections that are most important.<br />
      <br />
      Testing should provide enough information about the status or health of an application, so the stakeholders can make an informed decision on whether to release the software or spend more time on testing.
    </div>
  </details>
    
  <details class="easy" question="3">
    <summary>
      What is the purpose of a code style linting tool?
    </summary>
    <div class="answer">
      It is to keep source code in a repository consistent and easy to read. Linting also prevent possible mistakes developers can make. For example, some linter provides options to check which indentation should be used (it is not actually what a linter should do though). A linter can also check if there is any used variable which hasn't been declared, or if there is any unused variable. In short, linting is a kind of static analysis.
    </div>
  </details>
    
  <details class="average" question="4">
    <summary>
      What tools would you use to test your code's functionality?
    </summary>
    <div class="answer">
      For JavaScript, the basic assert module is quite enough for simple tests. But when it gets a big and production-level project, it is a better idea to set a test framework.
    </div>
  </details>
  
  <details class="average" question="5">
    <summary>
      What is the difference between a unit test and a functional/integration test?
    </summary>
    <div class="answer">
      <ul>
        <li>A unit test is on a small unit and checks if each unit works well.</li>
        <li>A functional test is on a particular feature and check if it generates a proper output for a provided input.</li>
        <li>An integration test checks if each part(or unit) of code works well together and results in combination functions correctly.</li>
      </ul>
    </div>
  </details>
  
  <details class="average" question="6">
    <summary>
      What is Exploratory Testing?
    </summary>
    <div class="answer">
      Exploratory testing is a hands-on approach in which testers are involved in minimum planning and maximum test execution. The planning involves the creation of a test charter, a short declaration of the scope of a short (1 to 2 hour) time-boxed test effort, the objectives and possible approaches to be used. The test design and test execution activities are performed in parallel typically without formally documenting the test conditions, test cases or test scripts. This does not mean that other, more formal testing techniques will not be used. Some notes will be written during the exploratory-testing session so that a report can be produced afterward.
    </div>
  </details>
  
  <details class="average" question="7">
      <summary>
        What are the commonly used testing types?
      </summary>
      <div class="answer">
        To get an expected test outcome, a standard procedure is followed which is referred to as Testing Type. Commonly used testing types are:<br />
        <ul>
          <li><span class="bold">Unit Testing</span>: Test the smallest code of an application</li>
          <li><span class="bold">API Testing</span>: Testing API created for the application</li>
          <li><span class="bold">Integration Testing</span>: Individual software modules are combined and tested</li>
          <li><span class="bold">System Testing (E2E)</span>: Complete testing of the system</li>
          <li><span class="bold">Install/UnInstall Testing</span>: Testing done from the point of client/customer view</li>
          <li><span class="bold">Agile Testing</span>: Testing through Agile technique</li>
        </ul>
      </div>
    </details>
    
  </div>
